setuptools>=32.3.0
Flask>=0.11.1
Flask-Babel>=0.11.1
Flask-Login>=0.4.0
Flask-Mail>=0.9.1
Flask-OpenID>=1.2.5
Flask-SQLAlchemy>=2.1
Flask-WTF>=0.13.1
flask_whooshalchemyplus>=0.7.5
itsdangerous>=0.24
pyOpenSSL>=16.2.0
python-dateutil>=2.6.0
python3-openid>=3.0.10
requests>=2.12.1
SQLAlchemy>=1.1.4
sqlalchemy-migrate>=0.10.0
WTForms>=2.1
